h2{
  color: green;
  font-style: italic;
}

.persona {
  color: blue;
  padding-top: 10px;
  font-size: 15px;
}

.error {
  color: green;
  width: 30%;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
